@charset "UTF-8";
/* CSS Document */

body {
	overflow: scroll;
}

video { display: block; }

@media only screen and (min-width: 0px) {
	.limiter {
	max-width: 1080px;
	}
	.limiter-custom {
	max-width: 1200px;
}
}

@media only screen and (min-width: 2000px) {
	.limiter {
	max-width: 1200px;
	}
	.limiter-custom {
	max-width: 1200px;
}
}

.limiter {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

a:link {
	outline: none;
    text-decoration: none;
	color: #000000;
}

a:visited {
	outline: none;
    text-decoration: none;
	color:#000000;
}

a:hover {
	outline: none;
    text-decoration: none;
}

a:active {
	outline: none;
    text-decoration: none;
	color:#8CC63E;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.overflow {
	width: 100%;
	overflow-x: hidden;
}

/* ---------------------------- Navbar ------------------------- */

@media only screen and (min-width: 0px) {
	.headerimage {
	margin-left: 10px;
}
	.nav {
	font-size: 12px;
	
}

}

@media only screen and (min-width: 1080px) {
	.headerimage {
	margin-left: 0px;
}
	.nav {
	font-size: 14px;
	
}

}

.navbar {
	border: none;
	width: 100%;
	height: 100px;
	background-color: #FFFFFF;
	margin:0;
	padding:0;
	}

.nav li a{
	text-transform: uppercase;
	letter-spacing: 2px;
	}

.nav {
	color: #000000;
	margin-top: 28px;

}

.headerimage {
	margin-top: 20px;
	width: 180px;
}



#collapse {
	background-color: rgba(255, 255, 255, .8);
	border: none;
}

#mininav li h3{
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 20px;
	text-align: right;
	margin-right: 10px;
	font-weight: 200;
}

.effect a {
	padding: 10px;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}



.effect a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #000;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	transform: translateY(-15px);
}



.effect a::after {
	bottom: 5px;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
}



.effect a:hover::before,
.effect a:focus::before,
.effect a:hover::after,
.effect a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* ---------------------------- jumbotron ------------------------- */

@media only screen and (min-width: 0px) {
	.text-box {
	text-align: center;
}
}

@media only screen and (min-width: 1080px) {
	.text-box {
	text-align: right;
	}
}


.jumbo {
	background:url(images/jumbotron.jpg) no-repeat;
	background-size: cover;
	background-position: right center;
	min-height: 300px;
	z-index: 30;
	box-shadow: 0px 1px 10px #999999;
}


.text-box {
	position: absolute;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 50;
	padding-top: 20%;
	color: #FFFFFF;
	font-size: 30px;
	letter-spacing: 5px;
}

.thin-text {
	position: relative;
	font-weight: 100;
	font-size: 30px;
	text-shadow: 1px 1px 20px #444;
}

.caps {
	position: relative;
	text-transform: uppercase;
	text-shadow: 1px 1px 20px #444;
}

#learn {
	margin-right: 3px;
	color: #FFFFFF;
	letter-spacing: 1px;
	background-color: rgba(255, 255, 255, 0);
	-o-transition: background .5s ease-in-out;
  	-ms-transition: background .5s ease-in-out;
  	-moz-transition: background .5s ease-in-out;
  	-webkit-transition: background .5s ease-in-out;
  	transition:background .5s ease-in-out;
}

#learn:hover{
	background-color: rgba(255, 255, 255, .5);
}

/* ---------------------------- about ------------------------- */

@media only screen and (min-width: 0px) {
	.circle {
	display: none;
	}
	.about-wrapper {
	width: 100%;
	float: 0;
	padding: 10%;
	height: auto;
	}
	.about-copy{
	
	}
	.about {
	height: auto;
	}
}

@media only screen and (min-width: 950px) {
	.circle {
	display: block;
	}
	.about-wrapper {
	width: 45%;
	float: right;
	text-align: left;
	padding-right: 0;
	padding-left: 0;
	height: 400px;
	
	}
	.about-copy{
	padding-top: 0;
	padding-bottom: 0;
	top: 15%;
	margin-top: -80px;
	}

	.about {
	height: 400px;
	}
}

.about {
	width: 100%;
	overflow: hidden;
	
}

.circle {
	position: relative;
	margin-top: -50px;
	border-radius: 50%;
	width: 500px;
	height: 500px;
	background-color: rgba(150, 150, 150, .5);	
	float: left;
	margin-bottom: -50px;
}

.circle img{
	text-align: center;
	margin-top: 120px;
}



.about-wrapper {
	position: relative;
}

.about-copy{

	position: relative;
	
}

.about-copy span {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 3px;
}


.about-copy {
	color: #666666;
	font-weight: 300;
}

/* ---------------------------- services ------------------------- */

@media only screen and (min-width: 0px) {
	.block {
	width: 100%;
	padding:20px;
	margin: 0;
	}
}

@media only screen and (min-width: 950px) {
	.block {
	width: 28%;
	padding: 10% 0 10% 0;
	margin: 2%;
	}
}



.services {
	position: relative;
	width: 100%;
	height: auto;
	background: #7bb42d;
	z-index: 51;
}

.services h3{
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 100;
	letter-spacing: 2px;

}

.hr {
	width: 50px;
	height: 5px;
	background-color: #ffffff;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

.block {
	position: relative;
	text-align: center;
	display: inline-block;
	color: #ffffff;
	opacity: .8;
	vertical-align: top;
}

.block img{
	height: 30px;
	width: auto;
}







/* ---------------------------- hire 10/25 ------------------------- */



.hirebar{
	width: 100%;
	height: 250px;
	background-color: #ffffff;
	text-align: center;
}


#hire {
	margin-top: 100px;
	border-radius: 0;
	border-color: #000000;
	border-width: 3px;
	width: 200px;
	height: 50px;
	font-size: 18px;
	color: #7ab32c;
	border-radius: 5px;
}

/* ---------------------------- gallery ------------------------- */

@media only screen and (min-width: 0px) {
	.leftblock {
	width: 100%;
	float: 0;
	}
	.gallery-wrapper {
	padding-bottom: 10%;
	padding-top: 10%;
	}
	.rightblock {
	width: 100%;
	height: 300px;
	}

	.gallery-images li img{
		width: 55%;
		margin-top: 30px;
	}
	.gallery-images {
		width: 4000px;
		margin-left: -120px;
	}

	.gallery-images li {

	}
}


@media only screen and (min-width: 470px) {
	.rightblock {
	width: 100%;
	height: 600px;
	}

	.gallery-images li img{
		width: 80%;
		margin-top: 120px;
	}
	.gallery-images {
		width: 4000px;
		margin-left: 0px;
	}
	.gallery-images li {
		margin-left: 0px;
		margin-right: 0px;
	}

}



@media only screen and (min-width: 950px) {
	.leftblock {
	width: 50%;
	float: left;
	}
	
	.gallery-wrapper {
	padding-bottom: 0;
	padding-top: 200px;
	}
	.rightblock {
	width: 50%;
	}
 
	.arrows {
		margin-left: 21%;
	}
	.gallery-images {
		margin-left: -40px;
	}
}

@media only screen and (min-width: 2000px) {
	.gallery-images {
		margin-left: -12px;
	}

	.arrows {
		margin-left: 22%;
	}

	}


.gallery {
	width: 100%;
	height: auto;
	background: #222;
}

.leftblock {
	text-align: center;
}

.gallery-wrapper {
	margin-left: 5px;
	width: 90%;
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}


.gallery-copy span {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
}


.gallery-copy {
	font-size: 15px;
	font-weight: 200;
	color: #fff;
}


.gallery-hr {
	width: 150px;
	height: 3px;
	background-color: #fff;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}


.rightblock {
	text-align: center;
	background-color: rgba(255, 255, 255, .3);
	overflow-x: scroll;
}

.rightblock::-webkit-scrollbar { 
    display: visible; 
}

.arrows {
	position: absolute;
	bottom: 0;
	
	background-color: #fff;
}

.arrows div{
	margin: 10px;
	display: inline-block;
	}

.gallery-images {
	
}

.gallery-images li{
	display: inline-block;
	}



 




/* ---------------------------- clients ------------------------- */


.clients {
	width: 100%;
	padding: 30px;
	background-color: #FFFFFF;
	text-align: center;
}


.client-copy span{
	font-size: 30px;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

.logo-wrapper {
	overflow: auto;
}



/* ---------------------------- newsletter ------------------------- */

.newsletter {
	width: 100%;
	overflow: hidden;
}

.newsletter-wrapper{
	position: relative;
	width: 100%;
	text-align: center;
}


.newsletter-copy{
	position: absolute;
	margin-top: -90px;
	top: 50%;
	height: 180px;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 500;
}

#mailimg {
	width:100%;
	margin-bottom: 20px;
}

#newslettertxt {
	width: 100%;
	color: #FFFFFF;
	font-weight: 100;
	font-size: 20px;
	letter-spacing: 3px;
	margin-bottom: 20px;
}

.form-submit {
	width: 100%;
}

.form-submit button {
	border: none;
	background-color: rgba(0, 0, 0, 0);
	margin-left: -50px;
}

.form-submit input{
	position: relative;
	height: 50px;
	width: 280px;
	background-color: rgba(0, 0, 0, .5);
	margin-left: -10px;
	color: #fff;
	font-size: 20px;
	border-color: #fff;
}

.form-submit img{
	position: relative;
	
}

.newsletter-image{
	position: relative;
	min-height: 300px;
	width: 100%;
	padding-bottom: 500px;
	background:url(images/newsletter.jpg) no-repeat center center;
	background-size: cover;
	z-index: 49;
}


/* ---------------------------- contact ------------------------- */

.contact {
	width: 100%;
	height: auto;
	background-color: #fff;
}


.contact-header{
	text-align: center;
	font-size: 35px;
	font-weight: 100;
	letter-spacing: 3px;
	margin-top: 30px;
}


.contact-header h5{
	color: #7bb42d;
}

.block h4 {
	color: #000000;
	font-weight: 200;
	letter-spacing: 2px;
}


/* ---------------------------- footer ------------------------- */

@media only screen and (min-width: 0px) {
	.socialmedia {
	margin-right: 10px;
	float: 0;
	text-align: center;
	}
	.footer {
	height: auto;
	}
}

@media only screen and (min-width: 1080px) {
	.socialmedia {
	margin-right: 0px;
	float: right;
	text-align: center;
	}
	.footer {
	height: 80px;
	}
}

.footer {
	position: relative;
	width: 100%;
	background-color: #000;
	text-align: center;
}

.footer-content{
	position: relative;
	top: 38%;
	color: #fff;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1px;
}

.socialmedia {
	position: relative;
	margin-top: 3px;
}

.socialmedia li{
	display: inline-block;
	margin: 5px;
}

/* -------------------------------------------------- about page ----------------------------------------------- */

@media only screen and (min-width: 0px) {
	.staff-block {
		width: 100%;
	}
}

@media only screen and (min-width: 650px) {
	.staff-block {
		width: 32%;
	}
}


.first-bar{
	width: 100%;
}

.about-jumbo-text {
	width: ;
	text-align: center;
}

.jumbo-wrap {
	width: 100%;
	padding-bottom: 25%;
	min-height: 300px;
}

.about-jumbo {
	position: absolute;
	width: 100%;
	padding-bottom: 25%;
	background: url(images/about_pic.jpg) no-repeat right;
	background-size: cover;
	background-position: right;
	min-height: 300px;
	z-index: -1;
}

.about-page-copy{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 10px 40px 10px;
}

.about-jumbo-text {
	position: absolute;
	width: 100%;
	padding-bottom: 25%;
	min-height: 300px;
	background: url(images/about_pic_text.png) no-repeat center center;
	z-index: 0;


}

.about-page-copy h1 {
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 3px;
}


.staff-row {
	background: url(images/staff.png);
}

.staff-row h2{
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 5px;
	padding-top: 20px;
}

.staff-row hr {
	width: 100px;
	border-width: 2px;
	border-color: #666;
	margin: 0 auto;
}

.staff-block hr {
	width: 50px;
	border-width: 2px;
	border-color: #666;
	margin: 0 auto;
}

.staff-copy {
	margin-top: 5px;
}

.staff-block {
	vertical-align: top;
	padding: 20px;
	display: inline-block;
}

.staff-block img {
	width: 80%;
}

.staff-contact {
	margin-top: 10px;
	width: 100%;

}

.staff-link {
	display: inline-block;
	margin: 10px;
}

/* -------------------------------------------------- services page ----------------------------------------------- */

@media only screen and (min-width: 0px) {
	.services-copy h1{
		font-size: 50px;

	}
}

@media only screen and (min-width: 768px) {
	.services-copy h1{
		font-size: 60px;

	}
}	

.jumbo-services {
	position: relative;
	margin-top: -18%;
	padding-bottom: 50%;
	min-height: 800px;
	background:url(images/servicesjumbo.jpg) no-repeat;
	background-size: cover;
	z-index: 49;
}


.services-wrap {
	position: absolute;
	width: 95%;
	max-width: 600px;
	height: auto;
	z-index: 50;
	margin-top: 5%;
	color: #cbcbcb;
	font-size: 18px;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.services-copy h1{
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 8px;
}

.services-copy hr {
	width: 100px;
}

.services-copy {
	font-weight: 200;
	letter-spacing: 1.2px;
}

/* ------- branding bar -------- */
@media only screen and (min-width: 0px) {
	.branding-wrapper {
		width: 100%;
		float: 0;
		text-align: center;
		padding: 10px;
	}
	.branding-bar img{
	margin: 20px 10px 10px 0px;
	float: 0;
	text-align: center;
	width: 90%;
	max-width: 300px;
}
}

@media only screen and (min-width: 768px) {
	.branding-bar img{
	float: left;
	text-align: 0;
	width: auto;
	}
	.branding-wrapper {
		width: 53%;
		float: right;
		text-align: left;
		margin: 9% 10px 5% 10px;
		padding: 0;
	}
}

.branding-bar {
	width: 100%;
	height: auto;
	background-color: #ffffff;
}

.branding-copy span{
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 4px;
	font-size: 40px;
}


.branding-wrapper {
	position: relative;
	
	

}


/* ------- web bar -------- */

@media only screen and (min-width: 0px) {
	.web-wrapper {
	width: 100%;
	float: 0;
	text-align: center;
	padding: 20px 10px 120px 10px;
	font-size: 15px;
	} 
	.web-jumbo{
		background:url(images/web-design.jpg) no-repeat;
	background-size: cover;
		background-position: 60%;
	}
	}

@media only screen and (min-width: 769px) {
	.web-wrapper {
	width: 50%;
	float: left;
	text-align: left;
	padding: 80px 10px 120px 10px;
	font-size: 14px;
	}
	.web-jumbo{
		background:url(images/web-design.jpg) no-repeat;
	background-size: cover;
		background-position: 0px 0px;
	}
}	

.web-bar {
	z-index: 49;
}

.web-copy span{
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 4px;
	font-size: 40px;
	color: #fff;
}

.web-wrapper {
	position: absolute;
	color: #fff;
}

.web-jumbo{
	padding-bottom: 500px;
	margin-bottom: -100px;
}



/* ------- mail bar -------- */

@media only screen and (min-width: 0px) {
	.mail-bar img {
	width: 100%;
	}
	}

@media only screen and (min-width: 768px) {
	.mail-bar img {
	width: auto;
	}

}	

.mail-bar {
	width: 100%;
	background-color: #ffffff;
	text-align: center;
	overflow: hidden;
}

.mail-bar .space{
	position: relative;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 4px;
	font-size: 40px;
	padding: 30px;
}

.mail-copy {
	position: absolute;
	width: 100%;
	max-width: 500px;
	min-width: 280px;
	padding: 30px 10px 30px 10px;
	right: 0;
	left: 0;
	margin: 0 auto;
	color: #fff;
}

/* ------- social media -------- */
@media only screen and (min-width: 0px) {
	.social-bar img{
	display: none;
	}

	.social-copy {	
	float: 0;
	width: 100%;
	padding: 10px;
	text-align: center;
	margin-top: 0px;
	max-width: 100%;
	}

	.social-copy span {
	text-align: center;
	}
	}

@media only screen and (min-width: 950px) {
	
	.social-bar img{
	display: block;
	position: absolute;
	margin-top: 50px;
	left: 0;
	right: 1;
	margin-right: 0;
	margin-left: 0;
	width: auto;
	}
	.social-copy {	
	float: right;
	width: 80%;
	text-align: left;
	margin-top: 100px;
	max-width: 700px;
	}
	.social-copy span{
	text-align: left;
	}
}	


.social-bar {
	width: 100%;
	height: 400px;
	background:url(images/office.jpg) no-repeat center center;
	background-size: cover;

}

.social-copy span{
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 4px;
	font-size: 40px;
}

.social-copy {	
	
	color: #fff;
	letter-spacing: 1px;
}

.social-bar img{
	position: absolute;
	left: 0;
	width: auto;
}

/* ------- email -------- */
@media only screen and (min-width: 0px) {
	.email-bar img{
	margin-top: 0;
	width: 20%;
	min-width: 100px;

	
	}
	.email-wrapper {
	float: 0;
	text-align: center;
	width: 100%;
	padding: 10px;
	}
	.email-bar span{
	margin-top: 30px;

}
	}

@media only screen and (min-width: 769px) {
	.email-bar img{
	margin-top: 60px;
	width: 20%;
	min-width: 50px;
	
	}
	.email-wrapper {
	float: left;
	text-align: right;
	width: 43%;
	}

	.email-bar .space{
	margin-top: 80px;

}
}	

.email-bar {
	width: 100%;
	height: 350px;
}

.email-wrapper{
	min-width: 300px;
	letter-spacing: 1px;
}

.email-bar .space{
	width: 100%;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 4px;
	font-size: 40px;
}

.email-bar img{
	width: 20%;
	
}

/* ------- print -------- */
@media only screen and (min-width: 0px) {
.print-wrapper{
	position: absolute;
	text-align: center;
	margin-top: 130px;
	top: 50%;
	margin-top: -130px;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
}
	}

@media only screen and (min-width: 768px) {
	.print-wrapper{
	position: absolute;
	text-align: center;
	margin-top: 130px;
	top: 50%;
	margin-top: -100px;
	padding-right: 0;
	padding-left: 0;
	width: 100%;
	max-width: 600px;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
}
}	

.print-bar {
	position: relative;
	width: 100%;
	height: 500px;
	background: url(images/paper.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	letter-spacing: 1px;
}



.print-bar span {
	width: 100%;
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 4px;
}

.print-bar img{
	position: relative;

}







/* -------------------------------------------------- gallery page ----------------------------------------------- */


/* ---------------------------- slide effect ------------------------- */
@media only screen and (min-width: 0px) {
	.grid li {
	width: 300px;
	}
	.grid img {
	margin-left: -34%;
}
}

@media only screen and (min-width: 700px) {
	.grid li {
	width: 360px;
	}
	.grid img {
	margin-left: -23%;
}
}

@media only screen and (min-width: 2000px) {
	.grid li {
	width: 400px;
	}
	.grid img {
	margin-left: -17%;
}
}



.grid {
	width: 100%;
	padding-bottom: 20px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.grid li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.grid img {
	width: 500px;
	height: auto;
}


/* Anchor and image */
.grid li > a,
.grid li img {
	display: block;
	outline: none;
	border: none;
}

.grid li > a {
	position: relative;
	overflow: hidden;
	margin: 7px;
}

/* Curtain element */
.grid .curtain {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: #8CC63E;
}

.grid.swipe-down .curtain {
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
	  -webkit-transform: translateZ(0,-100%,0);
   -moz-transform: translateZ(0,-100%,0);
   -ms-transform: translateZ(0,-100%,0);
   -o-transform: translateZ(0,-100%,0);
   transform: translateZ(0,-100%,0);
}


/* Shadow */
.grid .curtain::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,1);
	content: '';
}

.grid.swipe-right .curtain::after,
.grid.swipe-rotate .curtain::after {
	left: -100%;
}

.grid.swipe-down .curtain::after {
	top: -100%;
}

/* Title */
.grid li h3 {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 20px;
	width: 100%;
	background: rgba(88, 89, 91, 1);
	color: #999999;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 200;
	font-size: 1.5em;
	-webkit-transition: -webkit-transform 0.2s, color 0.2s;
	transition: transform 0.2s, color 0.2s;
	}

.grid li h3 span {
	text-transform: uppercase;
	font-weight: 500;
	display: none;
	letter-spacing: 2px;
	font-size: .6em;
}

/* Pseudo element for hover effect */
.grid li > a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100.5%;
	height: 100.5%;
	border: 0px solid transparent;
	background: rgba(0,0,0,0);
	content: '';
	-webkit-transition: border-width 0.2s, border-color 0.2s;
	transition: border-width 0.2s, border-color 0.2s;
}

.grid li.shown:hover h3 span{
	display: block;
}


/* Hover effects */
.grid li.shown:hover h3 {
	color: #FFFFFF;
	padding-bottom: 30px;
	-webkit-transform: translate3d(0,-50px,0);
	transform: translate3d(0,-50px,0);
}

.grid li.shown:hover > a::before {
	border-width: 14px;
	border-color: rgba(88, 89, 91, 1);
}

/* Animations */


/* Swipe down */
.grid.swipe-down li.animate .curtain {
	-webkit-animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
	animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
}

@-webkit-keyframes swipeDown {
	0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
	50%, 60% { -webkit-transform: translate3d(0,0,0); }
	100% { -webkit-transform: translate3d(0,100%,0); }
}

@keyframes swipeDown {
	0% {}
	50%, 60% { -webkit-transform: translate(0); transform: translate(0); }
	100% { transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
}



/* Shadow */
.grid li.animate .curtain::after {
	-webkit-animation: fadeOut 1.5s ease forwards;
	animation: fadeOut 1.5s ease forwards;
	-webkit-animation-delay: inherit;
	animation-delay: inherit;
}

@-webkit-keyframes fadeOut {
	0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
	50%, 60% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes fadeOut {
	0% {}
	50%, 60% { opacity: 1; }
	100% { opacity: 0; }
}

/* Hide image and title and show at half time */
.js .grid li img,
.js .grid li h3 {
	visibility: hidden;
}

.grid li.animate img,
.grid li.animate h3 {
	-webkit-animation: showMe 1.5s step-end forwards;
	animation: showMe 1.5s step-end forwards;
}

@-webkit-keyframes showMe {
	from { visibility: hidden; }
	60%, 100% { visibility: visible; }
}

@keyframes showMe {
	from { visibility: hidden; }
	60%, 100% { visibility: visible; }
}

.grid li.shown img,
.grid li.shown h3 {
	visibility: visible;
}

.hide {
	display: none;
}

/* ---------------------------- end slide effect ------------------------- */

/* ---------------------------- page transitions ------------------------- */

.pt-wrapper {
    position: relative;
}

.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
      -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}

.pt-page-current, .no-js .pt-page {
    visibility: visible;
    z-index: 1;
}

.no-js {
    overflow: auto;
}



/* Page Styles */
.pt-page-ontop {
    z-index: 999;
}

.pt-page-1 {
	position: relative;
}

.pt-page {
	background: #ffffff;
}

/*No Animation Support Message Style*/
.pt-message {
    display: none;
    position: absolute;
    z-index: 99999;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #da475c;
    color: #fff;
    text-align: center;
}

.pt-message p {
    margin: 0;
    line-height: 60px;
    font-size: 26px;
}

.no-cssanimations .pt-message {
    display: block;
}

/* ----------------------------  end page transitions ------------------------- */

/* ----------------------------  project page ------------------------- */

@media only screen and (min-width: 0px) {
	.projectinfo {
	padding: 20px;
	}

	.imgwrapper img{
	width: 100%;
	float: 0;
	}

	.projectinfo {
	width: 100%;
	text-align: center;
	float: 0;
	margin-top: -20px;	
	}

	.vidwrapper iframe{
	width: 100%;
	height: 300px;
	float: 0;
	}
}

@media only screen and (min-width: 768px) {

	.imgwrapper img{
	width: 65%;
	float: right;
	}
	.projectinfo{
	padding: 0;
	width: 33%;	
	text-align: right;
	float: left;
	margin-top: 10px;

	}
	.projectinfo h3{;
	left: 0;
	}

	.vidwrapper iframe{
	width: 65%;
	height: 450px;
	float: right;
	}
}

@media only screen and (min-width: 1080px) {
	.projectinfo {
	margin-left: 0px;
	}
}

.selected {
	position: absolute;
}

.backbutton {
	position: absolute;
	margin-top: 17px;
	left: 0;
	margin-left: 5px;
	float: left;
	z-index: 50;
}

.backbutton2 {
	position: absolute;
	margin-top: 17px;
	left: 0;
	margin-left: 5px;
	float: left;
	z-index: 50;
}


.projectwrapper {
	display: inline-block;
	width: 100%;
}

.projectinfo span{ 
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 200;
	letter-spacing: 2px;

}

.projectinfo h3{
	text-transform: uppercase;
	font-size: 23px;
	z-index: 49;
}


.backgroundbar {
	width: 100%;
	height: auto;
	background-color: #ebebeb;
}


/* ---------------------  coffee page ------------------- */
@media only screen and (min-width: 0px) {
	.vidbar .coffee-copy{
		position: relative;
		margin-top: 0px;
		height: auto;
		top: 0;
		right: 0;
		left: 0;
		text-align: center;
		text-transform: uppercase;
		font-weight: 100;
		letter-spacing: 10px;
		text-shadow: 1px 1px 20px #222;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding: 10px 30px 10px 30px;
		background: url(images/freecoffee_header.jpg);
		background-position: right;
		background-size: cover;
	}

	.coffee-copy h5 {
		position: relative;
		font-size: 50px;
		font-weight: 100;

	}

	.blog-img {
		width: 100%;

	}
	.blog-copy {
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
}

	.blog-img img{
		min-width: 250px;
		width: 50%;
		margin: 0 auto;
		display: block;
}

	.blog-copy h2{
			text-transform: uppercase;
			font-size: 30px;
			font-weight: 100;
			letter-spacing: 4px;
			text-align: center;
	}

	.blog-copy h3{
			font-weight: 700;
			font-size: 20px;
			text-align: center;
	}
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}


@media only screen and (min-width: 500px) {
	.blog-copy h2{
			text-transform: uppercase;
			font-size: 40px;
			font-weight: 100;
			letter-spacing: 4px;
			text-align: center;
	}

		.blog-copy h3{
			font-weight: 700;
			font-size: 30px;
			text-align: center;
	}
}




@media only screen and (min-width: 768px) {
	.vidbar .coffee-copy{
		position: absolute;
		margin-top: -112px;
		height: 220px;
		top: 50%;
		right: 0;
		left: 0;
		bottom: 0;
		text-align: center;
		text-transform: uppercase;
		font-weight: 100;
		letter-spacing: 10px;
		text-shadow: 1px 1px 20px #222;
		width: 700px;
		margin-right: auto;
		margin-left: auto;
		padding: 10px 30px 10px 30px;
		background: rgba(0, 0, 0, .5);
		background-position: right center;
		line-height: 60px;
	}

	.coffee-copy h5 {
		position: relative;
		font-size: 50px;
		font-weight: 100;

	}

	.blog-img { 
		float: right;
		width: 30%;
		margin-right: 10px;
		margin-left: 20px;
		vertical-align: middle;
	}
	.blog-copy {
		width: 60%;
		margin-right: 10px;
		margin-left: 20px;
}
	.blog-img img{
		position: relative;
		width: 100%;
}


	.blog-copy h2{
		text-transform: uppercase;
		font-size: 40px;
		font-weight: 100;
		letter-spacing: 4px;
		text-align: left;
}

	.blog-copy h3{
		font-weight: 700;
		font-size: 30px;
		text-align: left;
}
	

}


.vidbar{
	position: relative;
	width: 100%;
	color: #fff;
	overflow-x: hidden;
}

video {
	width: 100%;
	min-width: 1200px;
	background: url(images/coffee_backup.png) no-repeat center center;
	background-size: cover;
}


.vidbar span {
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 4px;
}



.blog-row {
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: left;
}

.blog-row-element {
	display: inline-block;
	vertical-align: middle;
}

.blog-copy {
	font-size: 16px;
}


.bottom-border {
	margin-top: 80px;
	width: 100%;
	height: 2px;
	background: rgba(0, 0, 0, .1);
	bottom: 0;
}

.giflist {
	width: 100%;
}

.giflist li {
	margin-top: 50px;
}

.giflist li img{
	width: 100%;
}

.img-list {
	margin-top: 30px;
}

.img-list li h3{
	text-transform: uppercase;
	letter-spacing: 1px;
}


.img-list img{
	width: 100%;
}

.img-small img{
	width: 100%;
}

/* ---------------------  contact form ------------------- */

@media only screen and (min-width: 0px) {
	#email {
	right: 0px;
}
}

@media only screen and (min-width: 768px) {
	#email {
	right: -2px;
}
}


.formcontain {
	width: 100%;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.formcontain h1 {
	font-weight: 100;
	letter-spacing: 3px;
}


#name {
	margin: 10px;
	width: 300px;
	height: 50px;
	border-width: 2px;

}

#lastname {
	margin: 10px;
	width: 300px;
	height: 50px;
	border-width: 2px;
}

#email {
	position: relative;
	margin: 10px;
	width: 300px;
	height: 50px;
	border-width: 2px;
}

#service {
	position: relative;
	right: -2px;
	margin: 10px;
	width: 300px;
	height: 50px;
	border-width: 1px;
	padding: 10px;
}

#message {
	margin: 10px;
	width: 88%;
	max-width: 620px;
	border-width: 1px;
}

#submitButton {
	background-color: #8CC63E;
	border: none;
}



select {
	
	padding-left: 10px;
	border-color: #999; 
	 -webkit-appearance: none;
  	-webkit-border-radius: 0px;
  	color: #999;
}

form {
	font-size: 20px;
	min-height: 100%;
}

::-webkit-input-placeholder {
 	padding-left: 10px;
}

:-moz-placeholder { /* Firefox 18- */
   padding-left: 10px;  
}

::-moz-placeholder {  /* Firefox 19+ */
   padding-left: 10px;
}

:-ms-input-placeholder {  
   padding-left: 10px;
}
























